html {
	font-family: Ubuntu;
}

button {
	background: white;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: 3px 3px 0 black;
	margin: 2px 3px;
}

b {
	margin: 2px 3px;
}

h1 {
	display: flex;
	align-items: center;
}

h1 button {
	font-size: 1.3rem;
	margin-left: 10px;
}

.todo {
	margin-bottom: 3px;
}

input {
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 2px;
}

my-app > div {
	width: 500px;
	max-width: 100%;
	margin: auto;
}

.todo {
	cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
